QScrollArea {
    background: #181818;
}

QStackedWidget#PanelStack {
    background: #181818;
}

QListView {
    background: #181818;
    border:none;
}

QListView::item:selected {border: 2px solid #01bdff;
    selection-background-color: red;outline: none;
}

QFrame {
    border:none;
}

ThumbnailListView {
    margin-left: 14px;
    margin-right: 14px;
}
