SimpleFormField {
    color: rgba(255, 255, 255, 176);
    font-size: 11px;
    margin-bottom: 1px;
}

SimpleFormLabel {
    color: rgba(255, 255, 255, 128);
    font-size: 11px;
}

QFrame#InfoTopContent {
    border: 1px solid black;
}
