QFrame#ProgressDialog {
    background-color: transparent;
}

QLabel#ProgressDialogTitle {
    font-size: 12px;
    color: #FFFFFF;
}

QLabel#ProgressDialogTip {
    font-size: 10px;
    color: #797979;
}
