QListView {
    background: #222325;
    border:none;
}

QListView::item:selected {border: 2px solid #01bdff;
    selection-background-color: red;outline: none;
}

ThumbnailListView {
    background: transparent;
    margin-left: 14px;
    margin-right: 14px;
}
