
ReturnButton#ReturnBtn {
    qproperty-normalPic: url(:/resources/light/images/return_normal.svg);
    qproperty-hoverPic: url(:/resources/light/images/return_hover.svg);
    qproperty-pressPic: url(:/resources/light/images/return_press.svg);
    qproperty-normalColor: #303030;
    qproperty-hoverColor: #000000;
    qproperty-pressColor: #01BCFF;
    font-size: 12px;
}

PushButton#FolderBtn {
    qproperty-normalPic: url(:/resources/light/images/mainwindow_light_normal.svg);
    qproperty-hoverPic: url(:/resources/light/images/mainwindow_light_hover.svg);
    qproperty-pressPic: url(:/resources/light/images/mainwindow_light_press.svg);
}

PushButton#AdaptBtn {
    qproperty-normalPic: url(:/resources/light/images/adapt_image_normal.svg);
    qproperty-hoverPic: url(:/resources/light/images/adapt_image_hover.svg);
    qproperty-pressPic: url(:/resources/light/images/adapt_image_active.svg);
    qproperty-disablePic: url(:/resources/light/images/adapt_image_disable.svg);
    qproperty-checkedPic: url(:/resources/light/images/adapt_image_active.svg);
}

PushButton#AdaptScreenBtn {
    qproperty-normalPic: url(:/resources/light/images/adapt_screen_normal.svg);
    qproperty-hoverPic: url(:/resources/light/images/adapt_screen_hover.svg);
    qproperty-pressPic: url(:/resources/light/images/adapt_screen_active.svg);
    qproperty-disablePic: url(:/resources/light/images/adapt_screen_disable.svg);
    qproperty-checkedPic: url(:/resources/light/images/adapt_screen_active.svg);
}

PushButton#CollectBtn {
    qproperty-normalPic: url(:/resources/light/images/collect_normal.svg);
    qproperty-hoverPic: url(:/resources/light/images/collect_hover.svg);
    qproperty-pressPic: url(:/resources/light/images/collect_active.svg);
    qproperty-disablePic: url(:/resources/light/images/collect_disable.svg);
    qproperty-checkedPic: url(:/resources/light/images/collect_active.svg);
}

PushButton#RotateBtn {
    qproperty-normalPic: url(:/resources/light/images/clockwise_rotation_normal.svg);
    qproperty-hoverPic: url(:/resources/light/images/clockwise_rotation_hover.svg);
    qproperty-pressPic: url(:/resources/light/images/clockwise_rotation_press.svg);
    qproperty-disablePic: url(:/resources/light/images/clockwise_rotation_disable.svg);
    qproperty-checkedPic: url(:/resources/light/images/clockwise_rotation_press.svg);
}

PushButton#RotateCounterBtn {
    qproperty-normalPic: url(:/resources/light/images/contrarotate_normal.svg);
    qproperty-hoverPic: url(:/resources/light/images/contrarotate_hover.svg);
    qproperty-pressPic: url(:/resources/light/images/contrarotate_press.svg);
    qproperty-disablePic: url(:/resources/light/images/contrarotate_disable.svg);
    qproperty-checkedPic: url(:/resources/light/images/contrarotate_press.svg);
}

PushButton#TrashBtn {
    qproperty-normalPic: url(:/resources/light/images/delete_normal.svg);
    qproperty-hoverPic: url(:/resources/light/images/delete_hover.svg);
    qproperty-pressPic: url(:/resources/light/images/delete_active.svg);
    qproperty-disablePic: url(:/resources/light/images/delete_disable.svg);
    qproperty-checkedPic: url(:/resources/light/images/contrarotate_active.svg);
}

QLabel#ImagenameLabel {
    /*border: 1px solid red;*/
    color: black;
}

QFrame#TTM {
   /*border: 1px solid blue;*/
}

QLabel#EmptyLabel
{
   /*border: 1px solid yellow;*/
}
