PushButton#AdaptBtn {
    qproperty-normalPic: url(:/resources/light/images/adapt_image_normal.svg);
    qproperty-hoverPic: url(:/resources/light/images/adapt_image_hover.svg);
    qproperty-pressPic: url(:/resources/light/images/adapt_image_active.svg);
    qproperty-disablePic: url(:/resources/light/images/adapt_image_disable.svg);
    qproperty-checkedPic: url(:/resources/light/images/adapt_image_active.svg);
}

PushButton#AdaptScreenBtn {
    qproperty-normalPic: url(:/resources/light/images/adapt_screen_normal.svg);
    qproperty-hoverPic: url(:/resources/light/images/adapt_screen_hover.svg);
    qproperty-pressPic: url(:/resources/light/images/adapt_screen_active.svg);
    qproperty-disablePic: url(:/resources/light/images/adapt_screen_disable.svg);
    qproperty-checkedPic: url(:/resources/light/images/adapt_screen_active.svg);
}

PushButton#CollectBtn {
    qproperty-normalPic: url(:/resources/light/images/collect_normal.svg);
    qproperty-hoverPic: url(:/resources/light/images/collect_hover.svg);
    qproperty-pressPic: url(:/resources/light/images/collect_active.svg);
    qproperty-disablePic: url(:/resources/light/images/collect_disable.svg);
    qproperty-checkedPic: url(:/resources/light/images/collect_active.svg);
}
PushButton#RotateBtn {
    qproperty-normalPic: url(:/resources/light/images/clockwise_rotation_normal.svg);
    qproperty-hoverPic: url(:/resources/light/images/clockwise_rotation_hover.svg);
    qproperty-pressPic: url(:/resources/light/images/clockwise_rotation_active.svg);
    qproperty-disablePic: url(:/resources/light/images/clockwise_rotation_disable.svg);
    qproperty-checkedPic: url(:/resources/light/images/clockwise_rotation_active.svg);
}
PushButton#RotateCounterBtn {
    qproperty-normalPic: url(:/resources/light/images/contrarotate_normal.svg);
    qproperty-hoverPic: url(:/resources/light/images/contrarotate_hover.svg);
    qproperty-pressPic: url(:/resources/light/images/contrarotate_active.svg);
    qproperty-disablePic: url(:/resources/light/images/contrarotate_disable.svg);
    qproperty-checkedPic: url(:/resources/light/images/contrarotate_active.svg);
}
PushButton#TrashBtn {
    qproperty-normalPic: url(:/resources/light/images/delete_normal.svg);
    qproperty-hoverPic: url(:/resources/light/images/delete_hover.svg);
    qproperty-pressPic: url(:/resources/light/images/delete_active.svg);
    qproperty-disablePic: url(:/resources/light/images/delete_disable.svg);
    qproperty-checkedPic: url(:/resources/light/images/contrarotate_active.svg);
}
