PushButton#ReturnBtn {
    qproperty-normalPic: url(:/resources/dark/images/return_normal.svg);
    qproperty-hoverPic: url(:/resources/dark/images/return_hover.svg);
    qproperty-pressPic: url(:/resources/dark/images/return_press.svg);
    qproperty-normalColor: rgba(255, 255, 255, .6);
    qproperty-hoverColor: rgba(255, 255, 255, 1);
    qproperty-pressColor: rgba(1, 188, 255, 1);
    font-size: 12px;
}

PushButton#FolderBtn {
    qproperty-normalPic: url(:/resources/dark/images/mainwindow_dark_normal.svg);
    qproperty-hoverPic: url(:/resources/dark/images/mainwindow_dark_hover.svg);
    qproperty-pressPic: url(:/resources/dark/images/mainwindow_dark_press.svg);
}

PushButton#AdaptBtn {
    qproperty-normalPic: url(:/resources/dark/images/adapt_image_normal.svg);
    qproperty-hoverPic: url(:/resources/dark/images/adapt_image_hover.svg);
    qproperty-pressPic: url(:/resources/dark/images/adapt_image_active.svg);
    qproperty-disablePic: url(:/resources/dark/images/adapt_image_disable.svg);
    qproperty-checkedPic: url(:/resources/dark/images/adapt_image_active.svg);
}

PushButton#AdaptScreenBtn {
    qproperty-normalPic: url(:/resources/dark/images/adapt_screen_normal.svg);
    qproperty-hoverPic: url(:/resources/dark/images/adapt_screen_hover.svg);
    qproperty-pressPic: url(:/resources/dark/images/adapt_screen_active.svg);
    qproperty-disablePic: url(:/resources/dark/images/adapt_screen_disable.svg);
    qproperty-checkedPic: url(:/resources/dark/images/adapt_screen_active.svg);
}

PushButton#CollectBtn {
    qproperty-normalPic: url(:/resources/dark/images/collect_normal.svg);
    qproperty-hoverPic: url(:/resources/dark/images/collect_hover.svg);
    qproperty-pressPic: url(:/resources/dark/images/collect_active.svg);
    qproperty-disablePic: url(:/resources/dark/images/collect_disable.svg);
    qproperty-checkedPic: url(:/resources/dark/images/collect_active.svg);
}

PushButton#RotateBtn {
    qproperty-normalPic: url(:/resources/dark/images/clockwise_rotation_normal.svg);
    qproperty-hoverPic: url(:/resources/dark/images/clockwise_rotation_hover.svg);
    qproperty-pressPic: url(:/resources/dark/images/clockwise_rotation_active.svg);
    qproperty-disablePic: url(:/resources/dark/images/clockwise_rotation_disable.svg);
    qproperty-checkedPic: url(:/resources/dark/images/clockwise_rotation_active.svg);
}

PushButton#RotateCounterBtn {
    qproperty-normalPic: url(:/resources/dark/images/contrarotate_normal.svg);
    qproperty-hoverPic: url(:/resources/dark/images/contrarotate_hover.svg);
    qproperty-pressPic: url(:/resources/dark/images/contrarotate_active.svg);
    qproperty-disablePic: url(:/resources/dark/images/contrarotate_disable.svg);
    qproperty-checkedPic: url(:/resources/dark/images/contrarotate_active.svg);
}

PushButton#TrashBtn {
    qproperty-normalPic: url(:/resources/dark/images/delete_normal.svg);
    qproperty-hoverPic: url(:/resources/dark/images/delete_hover.svg);
    qproperty-pressPic: url(:/resources/dark/images/delete_active.svg);
    qproperty-disablePic: url(:/resources/dark/images/delete_disable.svg);
    qproperty-checkedPic: url(:/resources/dark/images/delete_active.svg);
}

QLabel#ImagenameLabel {
    color: white;
}
