[Desktop Entry]
Categories=Graphics;GTK;DDE;
Comment=Deepin Image Viewer
Exec=deepin-image-viewer --new-window %F
GenericName=Image Viewer
Icon=deepin-image-viewer
Keywords=Image;Viewer;Jpg;Jpeg;Png;
MimeType=image/bmp;image/bmp24;image/ico;image/jpg;image/jpe;image/jpeg;image/jpeg24;image/jng;image/pcd;image/pcx;image/png;image/tga;image/tif;image/tiff;image/tiff24;image/psd;image/xpm;image/dds;image/gif;image/sgi;image/j2k;image/jp2;image/pct;image/webp;image/wdp;image/cr2;image/pef;image/arw;image/nef;image/icb;image/dng;image/vda;image/vst;image/raf;image/orf;image/svg;image/ptif;image/mef;image/mrw;image/xbm;image/svg+xml;
Name=Deepin Image Viewer
StartupNotify=false
Type=Application
X-Deepin-ManualID=deepin-image-viewer
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[am_ET]=ዲፕኢን ምስል መመልከቻ
Comment[ar]=عارض صور ديبين
Comment[ast]=Deepin Image Viewer
Comment[bg]=Deepin Преглед на изображения
Comment[ca]=Visualitzador d'imatges del Deepin
Comment[cs]=Prohlížeč obrázků
Comment[da]=Deepin billedfremviser
Comment[de]=Deepin Bildbetrachter
Comment[es]=Visor de imágenes Deepin
Comment[es_419]=Visor de imágenes Deepin
Comment[fr]=Deepin Image
Comment[gl_ES]=Visualizador de imaxes
Comment[he]=מציג התמונות של Deepin
Comment[hr]=Deepin preglednik slika
Comment[hu]=Deepin Képnézegető
Comment[it]=Deepin Image Viewer
Comment[lt]=Deepin paveikslų žiūryklė
Comment[ms]=Pelihat Imej Deepin
Comment[nl]=Deepin Afbeeldingen
Comment[pl]=Przeglądarka zdjęć Deepin
Comment[pt]=Deepin Image Viewer
Comment[pt_BR]=Visualizador de Imagens
Comment[ru]=Просмотр Изображений Deepin
Comment[sk]=Deepin Prehliadač obrázkov
Comment[sl]=Pregledovalnik fotografij Deepin
Comment[sr]=Дипин Прегледач Слика
Comment[sv]=Deepin Bildvisare
Comment[tr]=Deepin Görsel Görüntüleyici
Comment[uk]=Переглядач зображень Deepin
Comment[zh_CN]=深度看图
Comment[zh_TW]=Deepin 看圖
GenericName[ast]=Visor d'imáxenes
GenericName[bg]=Преглед на изображение
GenericName[ca]=Visualitzador d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[es]=Visor de imágenes
GenericName[fr]=Visionneur d'image 
GenericName[it]=Image Viewer
GenericName[lt]=Paveikslų žiūryklė
GenericName[ms]=Pelihat Imej
GenericName[nl]=Afbeeldingen
GenericName[pl]=Przeglądarka zdjęć
GenericName[pt]=Visualizador de Imagens
GenericName[pt_BR]=Visualizador de Imagem
GenericName[ru]=Просмотр Изображений
GenericName[sk]=Prehliadač obrázkov
GenericName[sr]=Прегледач Слика
GenericName[tr]=Görsel Görüntüleyici
GenericName[uk]=Переглядач зображень
GenericName[zh_CN]=看图
GenericName[zh_TW]=圖片檢視器
Keywords[ast]=imaxe;visor;imáxenes;jpg;jpeg;png;
Keywords[bg]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[ca]=Imatge;Visualitzador;Jpg;Jpeg;Png;
Keywords[cs]=obrázek;prohlížeč;JPGg;JPEG;PNG;
Keywords[da]=billede;fremviser;Jpg;Jpeg;Png;
Keywords[de]=Image;Viewer;Jpg;Jpeg;Png;Photo;Fotos;Bilder
Keywords[es]=Imagen;Visor;Jpg;Jpeg;Png;
Keywords[fr]=Image;Visionneur;Jpg;Jpeg;Png;
Keywords[it]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[lt]=Paveikslų;Paveikslai;Žiūryklė;Žiūrėti;Rodyti;Jpg;Jpeg;Png;
Keywords[ms]=Imej;Pelihat;Jpg;Jpeg;Png;
Keywords[nl]=Afbeelding;Bekijken;Jpg;Jpeg;Png;
Keywords[pl]=Image;Viewer;Jpg;Jpeg;Png;Przeglądarka;Zdjęć;Zdjec;Obraz;
Keywords[pt]=Imagem;Visualizador;Jpg;Jpeg;Png;
Keywords[pt_BR]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[ru]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[sk]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[sr]=Слика;Прегледач;Jpg;Jpeg;Png;
Keywords[tr]=Image;Viewer;Jpg;Jpeg;Png;Görsel;Görüntüleyici;
Keywords[uk]=Image;Viewer;Jpg;Jpeg;Png;зображення;перегляд;переглядач;
Keywords[zh_CN]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[zh_TW]=Image;Viewer;Jpg;Jpeg;Png;圖片;檢視器
Name[am_ET]=ዲፕኢን ምስል መመልከቻ
Name[ar]=عارض صور ديبين
Name[ast]=Deepin Image Viewer
Name[bg]=Deepin Преглед на изображения
Name[ca]=Visualitzador d'imatges del Deepin
Name[cs]=Prohlížeč obrázků
Name[da]=Deepin billedfremviser
Name[de]=Deepin Bildbetrachter
Name[es]=Visor de imágenes Deepin
Name[es_419]=Visor de imágenes Deepin
Name[fr]=Deepin Image
Name[gl_ES]=Visualizador de imaxes
Name[he]=מציג התמונות של Deepin
Name[hr]=Deepin preglednik slika
Name[hu]=Deepin Képnézegető
Name[it]=Deepin Image Viewer
Name[lt]=Deepin paveikslų žiūryklė
Name[ms]=Pelihat Imej Deepin
Name[nl]=Deepin Afbeeldingen
Name[pl]=Przeglądarka zdjęć Deepin
Name[pt]=Deepin Image Viewer
Name[pt_BR]=Visualizador de Imagens
Name[ru]=Просмотр Изображений Deepin
Name[sk]=Deepin Prehliadač obrázkov
Name[sl]=Pregledovalnik fotografij Deepin
Name[sr]=Дипин Прегледач Слика
Name[sv]=Deepin Bildvisare
Name[tr]=Deepin Görsel Görüntüleyici
Name[uk]=Переглядач зображень Deepin
Name[zh_CN]=深度看图
Name[zh_TW]=Deepin 看圖

