QPushButton:disabled {
    color: rgba(255, 255, 255, .4);
}

QLabel#CreateTitleLabel {
    font-size: 12px;
}
QLineEdit#ImportDirEdit {
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 3;
    font-size: 12px;
    color: #ffffff;
    selection-background-color: #419bf9;
    background: rgba(0, 0, 0, .3);
    height: 20px;
}
