QStackedWidget#PanelStack {
    background: #202020;
}

QFrame {
    border:none;
}

QLabel#BtmSeperatorLine {
    background-color: rgba(0, 0, 0, .5);
}

QLabel#TopSeperatorLine {
    background-color: rgba(0, 0, 0, 0.95);
}
