[Desktop Entry]
Categories=Graphics;GTK;
Comment=Deepin Image Viewer
Exec=deepin-image-viewer --new-window %F
GenericName=Image Viewer
Icon=deepin-image-viewer
Keywords=Image;Viewer;Jpg;Jpeg;Png;
MimeType=image/bmp;image/bmp24;image/jpg;image/jpe;image/jpeg;image/jpeg24;image/jng;image/x-panasonic-rw;image/x-jp2-codestream;video/x-mng;image/x-canon-crw;image/x-dds;image/x-olympus-orf;image/x-sigma-x3;image/x-ilbm;image/x-sgi;image/wmf;image/webp;image/vnd.microsoft.icon;image/pcd;image/pcx;image/png;image/tif;image/tiff;image/tiff24;image/dds;image/gif;image/sgi;image/j2k;image/jp2;image/pct;image/wdp;image/arw;image/icb;image/dng;image/vda;image/vst;image/svg;image/ptif;image/mef;image/xbm;image/svg+xml;image/x-minolta-mrw;image/vnd.adobe.photoshop;image/x-xpixmap;image/vnd.wap.wbmp;image/x-photo-cd;image/x-portable-graymap;image/x-xbitmap;image/x-portable-bitmap;image/vnd.zbrush.pcx;image/x-portable-anymap;image/x-tga;image/x-icns;image/x-fuji-raf;image/x-hdr;image/fax-g3;image/x-photo-cd
Name=Deepin Image Viewer
StartupNotify=false
Type=Application
X-Deepin-ManualID=deepin-image-viewer
X-Deepin-TurboType=dtkwidget
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[am_ET]=ዲፕኢን ምስል መመልከቻ
Comment[ar]=عارض صور ديبين
Comment[ast]=Deepin Image Viewer
Comment[bg]=Deepin Преглед на изображения
Comment[bo]=གཏིང་ཟབ་པར་ལྟ་བ།
Comment[ca]=Visualitzador d'imatges del Deepin
Comment[cs]=Prohlížeč obrázků
Comment[da]=Deepin billedfremviser
Comment[de]=Deepin Bildbetrachter
Comment[es]=Visor de imágenes
Comment[fa]=نمایشگر تصویر دیپین
Comment[fi]=Deepin kuvat
Comment[fr]=Visionneuse d'images Deepin
Comment[gl_ES]=Visualizador de imaxes Deepin
Comment[he]=מציג התמונות של Deepin
Comment[hr]=Deepin preglednik slika
Comment[hu]=Deepin® Képnézegető
Comment[id]=Penampil Gambar Deepin
Comment[it]=Visualizzatore immagini di Deepin
Comment[ko]=Deepin 이미지 보기도구
Comment[lt]=Deepin paveikslų žiūryklė
Comment[ms]=Pelihat Imej Deepin
Comment[ne]= दीपिन इमेज विएवेर 
Comment[nl]=Deepin Afbeeldingen
Comment[pl]=Przeglądarka zdjęć Deepin
Comment[pt]=Deepin Image Viewer
Comment[pt_BR]=deepin Imagem
Comment[ru]=Просмотр Изображений Deepin
Comment[sk]=Deepin Prehliadač obrázkov
Comment[sl]=Deepin pregledovalnik slik
Comment[sq]=Parës Deepin Figurash
Comment[sr]=Дипин Прегледач Слика
Comment[sv]=Deepin Bildvisare
Comment[tr]=Deepin Resim Görüntüleyici
Comment[ug]=Deepin رەسىم كۆرگۈچ
Comment[uk]=Переглядач зображень Deepin
Comment[zh_CN]=深度看图
Comment[zh_HK]=Deepin 看圖
Comment[zh_TW]=Deepin 看圖
GenericName[ar]=عارض الصور
GenericName[ast]=Visor d'imáxenes
GenericName[bg]=Преглед на изображение
GenericName[bo]=པར་ལྟ་བ།
GenericName[ca]=Visualitzador d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[es]=Visor de imágenes
GenericName[fa]=نمایشگر تصویر
GenericName[fi]=Kuvat
GenericName[fr]=Visionneuse d'images
GenericName[gl_ES]=Visualizador de imaxes
GenericName[hu]=Képnézegető
GenericName[id]=Penampil Gambar
GenericName[it]=Visualizzatore immagini
GenericName[ko]=이미지 보기도구
GenericName[lt]=Paveikslų žiūryklė
GenericName[ms]=Pelihat Imej
GenericName[ne]=इमेज विएवेर 
GenericName[nl]=Afbeeldingen
GenericName[pl]=Przeglądarka zdjęć
GenericName[pt]=Visualizador de Imagens
GenericName[pt_BR]=Imagem
GenericName[ru]=Просмотр Изображений
GenericName[sk]=Prehliadač obrázkov
GenericName[sl]=Deepin pregledovalnik slik
GenericName[sq]=Parësh Figurash
GenericName[sr]=Прегледач Слика
GenericName[sv]=Bildvisare
GenericName[tr]=Resim Görüntüleyici
GenericName[ug]=رەسىم كۆرگۈچ
GenericName[uk]=Переглядач зображень
GenericName[zh_CN]=看图
GenericName[zh_HK]=看圖
GenericName[zh_TW]=看圖
Keywords[ar]=صور;عارض;Jpg;Jpeg;Png;
Keywords[ast]=imaxe;visor;imáxenes;jpg;jpeg;png;
Keywords[bg]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[bo]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[ca]=Imatge;Visualitzador;Jpg;Jpeg;Png;
Keywords[cs]=obrázek;prohlížeč;JPGg;JPEG;PNG;
Keywords[da]=billede;fremviser;Jpg;Jpeg;Png;
Keywords[de]=Bild;Betrachter;Jpg;Jpeg;Png;
Keywords[es]=Imagen;Visor;Jpg;Jpeg;Png;
Keywords[fa]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[fi]=Image;Viewer;Kuva;Katso;Jpg;Jpeg;Png;
Keywords[fr]=Image;Visionneur;Jpg;Jpeg;Png;
Keywords[gl_ES]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[hu]=Kép;Nézegető;Jpg;Jpeg;Png;
Keywords[id]=Gambar; Penampil; Jpg; Jpeg; Png;
Keywords[it]=Image;Viewer;Jpg;Jpeg;Png;GIF;Immagini;foto;
Keywords[ko]=Image;Viewer;Jpg;Jpeg;Png;이미지;뷰어;그림;사진;
Keywords[lt]=Paveikslų;Paveikslai;Žiūryklė;Žiūrėti;Rodyti;Jpg;Jpeg;Png;
Keywords[ms]=Imej;Pelihat;Jpg;Jpeg;Png;
Keywords[ne]=इमेज;विएवेर्;jpg;jpeg;png;
Keywords[nl]=Afbeelding;Bekijken;Jpg;Jpeg;Png;
Keywords[pl]=Image;Viewer;Jpg;Jpeg;Png;Przeglądarka;Zdjęć;Zdjec;Obraz;
Keywords[pt]=Imagem;Visualizador;Jpg;Jpeg;Png;
Keywords[pt_BR]=Imagem;Visualizador;Jpg;Jpeg;Png;
Keywords[ru]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[sk]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[sl]=slike;fotografije;prikazovalnik;pregledovalnik;jpg;jpeg;png;
Keywords[sq]=Parë;Figurash;Jpg;Jpeg;Png;
Keywords[sr]=Слика;Прегледач;Jpg;Jpeg;Png;
Keywords[sv]=Bild;Visare;Jpg;Jpeg;Png;
Keywords[tr]=Resim;Görüntüleyici;Jpg;Jpeg;Png;
Keywords[ug]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[uk]=Image;Viewer;Jpg;Jpeg;Png;зображення;перегляд;переглядач;
Keywords[zh_CN]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[zh_HK]=Image;Viewer;Jpg;Jpeg;Png;
Keywords[zh_TW]=Image;Viewer;Jpg;Jpeg;Png;
Name[am_ET]=ዲፕኢን ምስል መመልከቻ
Name[ar]=عارض صور ديبين
Name[ast]=Deepin Image Viewer
Name[bg]=Deepin Преглед на изображения
Name[bo]=གཏིང་ཟབ་པར་ལྟ་བ།
Name[ca]=Visualitzador d'imatges del Deepin
Name[cs]=Prohlížeč obrázků
Name[da]=Deepin billedfremviser
Name[de]=Deepin Bildbetrachter
Name[es]=Visor de imágenes
Name[fa]=نمایشگر تصویر دیپین
Name[fi]=Deepin kuvat
Name[fr]=Visionneuse d'images Deepin
Name[gl_ES]=Visualizador de imaxes Deepin
Name[he]=מציג התמונות של Deepin
Name[hr]=Deepin preglednik slika
Name[hu]=Deepin® Képnézegető
Name[id]=Penampil Gambar Deepin
Name[it]=Visualizzatore immagini di Deepin
Name[ko]=Deepin 이미지 보기도구
Name[lt]=Deepin paveikslų žiūryklė
Name[ms]=Pelihat Imej Deepin
Name[ne]= दीपिन इमेज विएवेर 
Name[nl]=Deepin Afbeeldingen
Name[pl]=Przeglądarka zdjęć Deepin
Name[pt]=Deepin Image Viewer
Name[pt_BR]=deepin Imagem
Name[ru]=Просмотр Изображений Deepin
Name[sk]=Deepin Prehliadač obrázkov
Name[sl]=Deepin pregledovalnik slik
Name[sq]=Parës Deepin Figurash
Name[sr]=Дипин Прегледач Слика
Name[sv]=Deepin Bildvisare
Name[tr]=Deepin Resim Görüntüleyici
Name[ug]=Deepin رەسىم كۆرگۈچ
Name[uk]=Переглядач зображень Deepin
Name[zh_CN]=深度看图
Name[zh_HK]=Deepin 看圖
Name[zh_TW]=Deepin 看圖

