QLineEdit#DialogEdit {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3;
    color: #303030;
    font-size: 12px;
    selection-background-color: #419bf9;
    selection-color:white;
    background: rgba(255, 255, 255, .1);
}

QLabel#DialogTitle {
    font-size: 12px;
    color: #303030;
    background: rgba(255, 255, 255, .01);
}
